In [1]:
import numpy as np
import pandas as pd

In [21]:
cols = ['sentiment','id','date','query_string','user','text']
df_train = pd.read_csv('training.1600000.processed.noemoticon.csv',header=None, usecols = [0,5],names=cols, encoding='latin-1')

In [22]:
df_train

         sentiment                                               text
0                0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1                0  is upset that he can't update his Facebook by ...
2                0  @Kenichan I dived many times for the ball. Man...
3                0    my whole body feels itchy and like its on fire
4                0  @nationwideclass no, it's not behaving at all....
...            ...                                                ...
1599995          4  Just woke up. Having no school is the best fee...
1599996          4  TheWDB.com - Very cool to hear old Walt interv...
1599997          4  Are you ready for your MoJo Makeover? Ask me f...
1599998          4  Happy 38th Birthday to my boo of alll time!!! ...
1599999          4  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [101]:
# For this project, we use only the subset of the entire dataset for quicker development
# 5% for training set, 1% for dev set, in total of 6% as the subset
df_tweet_train = df_train.sample(frac=0.05, replace=True)
df_tweet_dev = df_train.sample(frac = 0.01, replace = True)
# df_train_sample = df_train_sample.reset_index().drop(["index"], axis = 1)
df_tweet_train = df_tweet_train.reset_index().drop(["index"], axis = 1)
df_tweet_dev = df_tweet_dev.reset_index().drop(["index"], axis = 1)

In [102]:
# to make sure that we have enough distribution for each class
print(np.shape(df_tweet_train.loc[df_tweet_train["sentiment"] == 0]))
print(np.shape(df_tweet_train.loc[df_tweet_train["sentiment"] == 4]))
print(np.shape(df_tweet_dev.loc[df_tweet_dev["sentiment"] == 0]))
print(np.shape(df_tweet_dev.loc[df_tweet_dev["sentiment"] == 4]))

(39920, 2)
(40080, 2)
(7941, 2)
(8059, 2)

In [103]:
df_tweet_train.to_csv("tweet_training.csv", index = True)
df_tweet_dev.to_csv("tweet_dev.csv", index = True)